
syntax: glob


*/.metadata/*
*/classes/*
*/classes.meta
*/logs/*
*.log*
*.suo*
*.pdb*
*.mdb*
*.sln*
*.vs*
*.csproj*
*.user*
*.ini*
*.lnk*
*.zip*
*.bak*
*.orig*
*_ReSharper*
*-server.jar
*~$*


Temp
Players
Documents/ScriptReference/Doxygen
Documents/Graphs/Generated
Tools/Doxygen/Doc
Tools/Doxygen/GenerationLog.txt
Tools/Players
UnityProject/Library
UnityProject/Players
UnityProject/UnityPackageManager
UnityProject/obj
UnityProject/*.png
Screenshots/*
UnityProject/Assets/Scenes/DebugScenes/ReleaseMax.unity.meta
UnityProject/Assets/Scenes/DebugScenes/ReleaseMax.unity
